[submodule "thirdparty/json"]
	path = thirdparty/json
	url = git@github.com:nlohmann/json.git
[submodule "ext/lugdunum"]
	path = ext/lugdunum
	url = git@github.com:Lugdunum3D/Lugdunum.git
	branch = feature-base-rendering-android
[submodule "thirdparty/restless"]
	path = thirdparty/restless
	url = https://github.com/anuragsoni/restless.git
